@model Party
<div class="card" style="width: 18rem;  box-shadow: 10px 10px 5px #D9D9D9;">
    <div class="card-body">
        <h5 class="card-title">Party Name:@Model.PartyName</h5>
        <a asp-controller="Party" asp-action="Party" class="btn btn-primary">Home</a>
    </div>
</div>
